
choice
	prompt "Board type"
	depends on SOC_4780
	default BOARD_TEST

config BOARD_TEST
        bool "TEST"

config BOARD_PISCES
        bool "PISCES"

config BOARD_GIANT
        bool "Giant"

config BOARD_WARRIOR
        bool "Warrior"

config BOARD_M80
        bool "M80"

config BOARD_M80701
		bool "M80701"

endchoice

config BOARD_NAME
	string
	default "pisces" if BOARD_PISCES
	default "test" if BOARD_TEST
	default "Giant" if BOARD_GIANT
	default "Warrior" if BOARD_WARRIOR
	default "M80" if BOARD_M80
	default "M80701" if BOARD_M80701

