

choice
	prompt "Board type"
	depends on SOC_4775
	default PRODUCT_DEVELOP

config PRODUCT_DEVELOP
    bool "DEVELOP"

endchoice

config PRODUCT_NAME
string
	default "halley" if PRODUCT_DEVELOP


if PRODUCT_DEVELOP
source "arch/mips/xburst/soc-4775/chip-m150/halley/Kconfig"
endif

