

choice
	prompt "Board type"
	depends on SOC_4775
	default BOARD_M150_HALLEY

config BOARD_M150_HALLEY
       bool "HALLEY"

endchoice

config BOARD_NAME
	string
	default "halley" if BOARD_M150_HALLEY
