
menuconfig SOUND_OSS_XBURST
	bool "Open Sound System of xburst"
	#depends on SOUND_OSS_CORE
	default y
	help
	  Say 'Y' to enable Open Sound System drivers of xburst.


if SOUND_OSS_XBURST

menu "sound DSP devices of xburst"

config SOUND_I2S0_JZ47XX
	bool "Jz On-Chip I2S0 driver"
	help
		Say 'Y' to enable On-Chip i2s0

config SOUND_I2S1_JZ47XX
	bool "Jz On-Chip I2S1 driver"
	help
		Say 'Y' to enable On-Chip i2s1

config SOUND_PCM0_JZ47XX
	bool "Jz On-Chip PCM0 driver"
	help
		Say 'Y' to enable On-Chip pcm0

config SOUND_PCM1_JZ47XX
	bool "Jz On-Chip PCM1 driver"
	help
		Say 'Y' to enable On-Chip pcm1

endmenu

menuconfig JZ_INTERNAL_CODEC

	bool "xburst internal coedc"
	depends on SOUND_I2S0_JZ47XX
	help
		Say "Y" to select xburst internal codec.

if JZ_INTERNAL_CODEC

	config JZ4780_INTERNAL_CODEC
	bool "jz4780 internal codec"
	help
		Say "Y" to enable jz4780 internal codec.
endif #JZ_INTERNAL_CODEC

menuconfig JZ_EXTERNAL_CODEC
	bool "xburst external codec"
	help
		Say	"Y" to setect xburst external codec

if JZ_EXTERNAL_CODEC

	#external codec

endif #JZ_EXTERNAL_CODEC


menu "sound MIXER devices of xburst"

config SOUND_MIXER0_JZ47XX
	bool "Jz virtual mixer0 driver"
	help
		Say 'Y' to enable virtual mixer0

endmenu


menuconfig SOUND_XBURST_DETECT
	bool "sound detect device of xburst"
	default n
	help
	  Say 'Y' to enable sound detect devices support.

if SOUND_XBURST_DETECT

menu "JZ headset detect"

config JZ_HP0_DETECT
	bool "jz4780 headphone detect 0"
	depends on SOUND_I2S0_JZ47XX
	help
	Say "Y" to enable internal codec headphone detect.

config JZ_HP1_DETECT
	bool "jz4780 headphone detect 1"
	depends on SOUND_I2S1_JZ47XX

endmenu

menu "JZ dock detect"

endmenu

endif #SOUND_XBURST_DETECT

menuconfig SOUND_XBURST_DEBUG
	bool "sound debug device of xburst"
	default n
	help
	  Say 'Y' to enable sound debug devices support.

endif #SOUND_OSS_XBURST

