CONFIG_MACH_XBURST=y
CONFIG_SOC_X1000=y
CONFIG_PRODUCT_X1000_CANNA=y
CONFIG_EXTAL_CLOCK=24
# CONFIG_PM_POWERDOWN_P0 is not set
# CONFIG_RESET_KEEP_POWER is not set
# CONFIG_JZRISC_PEP is not set
# CONFIG_ARM_ELF_SUPPORT is not set
CONFIG_FORCE_MAX_ZONEORDER=15
CONFIG_HIGH_RES_TIMERS=y
CONFIG_HZ_100=y
CONFIG_PREEMPT=y
# CONFIG_SECCOMP is not set
CONFIG_EXPERIMENTAL=y
CONFIG_CROSS_COMPILE="mips-linux-gnu-"
# CONFIG_SWAP is not set
CONFIG_SYSVIPC=y
CONFIG_LOG_BUF_SHIFT=14
CONFIG_CGROUPS=y
CONFIG_RESOURCE_COUNTERS=y
CONFIG_CGROUP_MEM_RES_CTLR=y
CONFIG_PANIC_TIMEOUT=3
# CONFIG_SYSCTL_SYSCALL is not set
# CONFIG_KALLSYMS is not set
# CONFIG_ELF_CORE is not set
# CONFIG_PCSPKR_PLATFORM is not set
# CONFIG_BASE_FULL is not set
# CONFIG_EPOLL is not set
# CONFIG_SIGNALFD is not set
# CONFIG_TIMERFD is not set
# CONFIG_AIO is not set
CONFIG_EMBEDDED=y
# CONFIG_VM_EVENT_COUNTERS is not set
# CONFIG_SLUB_DEBUG is not set
CONFIG_FINER_KMALLOC=y
CONFIG_SLUB_FEWER_OBJECTS=y
CONFIG_MODULES=y
# CONFIG_BLK_DEV_BSG is not set
CONFIG_PM_RUNTIME=y
CONFIG_NET=y
CONFIG_PACKET=y
CONFIG_UNIX=y
CONFIG_INET=y
CONFIG_IP_MULTICAST=y
CONFIG_IP_PNP=y
CONFIG_IP_PNP_DHCP=y
CONFIG_IP_PNP_BOOTP=y
# CONFIG_INET_XFRM_MODE_TRANSPORT is not set
# CONFIG_INET_XFRM_MODE_TUNNEL is not set
# CONFIG_INET_XFRM_MODE_BEET is not set
# CONFIG_INET_LRO is not set
# CONFIG_IPV6 is not set
# CONFIG_ANDROID_PARANOID_NETWORK is not set
# CONFIG_NET_ACTIVITY_STATS is not set
CONFIG_NETWORK_PHY_TIMESTAMPING=y
CONFIG_NETFILTER=y
CONFIG_NETFILTER_TPROXY=y
CONFIG_NETFILTER_XT_SET=y
CONFIG_NETFILTER_XT_TARGET_NFLOG=y
CONFIG_NETFILTER_XT_TARGET_NFQUEUE=y
CONFIG_NETFILTER_XT_TARGET_TPROXY=y
CONFIG_NETFILTER_XT_MATCH_QUOTA=y
CONFIG_NETFILTER_XT_MATCH_QUOTA2=y
CONFIG_NETFILTER_XT_MATCH_QUOTA2_LOG=y
CONFIG_NETFILTER_XT_MATCH_SOCKET=y
CONFIG_IP_SET=y
CONFIG_IP_SET_BITMAP_IPMAC=y
CONFIG_IP_NF_IPTABLES=y
CONFIG_IP_NF_FILTER=y
CONFIG_IP_NF_MANGLE=y
CONFIG_IP_NF_RAW=y
CONFIG_WIRELESS_EXT=y
CONFIG_WEXT_PRIV=y
CONFIG_CFG80211=y
CONFIG_LIB80211=y
CONFIG_RFKILL=y
CONFIG_MTD=y
CONFIG_MTD_CMDLINE_PARTS=y
CONFIG_MTD_CHAR=y
CONFIG_MTD_BLOCK=y
CONFIG_JZ_SFC=y
CONFIG_SFC_DMA=y
CONFIG_SPI_QUAD=y
CONFIG_MTD_JZ_SFC_NORFLASH=y
CONFIG_MISC_DEVICES=y
# CONFIG_ANDROID_PMEM is not set
CONFIG_BCM_AP6212_RFKILL=y
# CONFIG_JZ_DMMU is not set
CONFIG_JZ_PWM_BIT4=y
CONFIG_SCSI=y
# CONFIG_SCSI_PROC_FS is not set
CONFIG_BLK_DEV_SD=y
# CONFIG_SCSI_LOWLEVEL is not set
CONFIG_NETDEVICES=y
# CONFIG_NETDEV_1000 is not set
# CONFIG_NETDEV_10000 is not set
CONFIG_BCMDHD_1_141_66=y
CONFIG_BCM4343=y
CONFIG_BCMDHD_1_141_66_FW_PATH="/lib/firmware/"
CONFIG_BCMDHD_1_141_66_NVRAM_PATH="/lib/firmware/"
# CONFIG_INPUT_MOUSEDEV is not set
CONFIG_INPUT_EVDEV=y
# CONFIG_KEYBOARD_ATKBD is not set
CONFIG_KEYBOARD_JZGPIO=y
CONFIG_DOSS_WB38_INDEPENDENT_KEY=y
# CONFIG_INPUT_MOUSE is not set
# CONFIG_SERIO is not set
# CONFIG_VT is not set
CONFIG_DEVPTS_MULTIPLE_INSTANCES=y
# CONFIG_LEGACY_PTYS is not set
CONFIG_MTD_NV_WR=y
# CONFIG_DEVKMEM is not set
CONFIG_SERIAL_JZ47XX_UART=y
CONFIG_SERIAL_JZ47XX_CONSOLE=y
CONFIG_SERIAL_JZ47XX_UART0=y
CONFIG_SERIAL_JZ47XX_UART2=y
CONFIG_SERIAL_JZ47XX_UART2_PC=y
# CONFIG_HW_RANDOM is not set
CONFIG_I2C=y
CONFIG_I2C_GPIO=y
CONFIG_I2C_V12_JZ=y
CONFIG_SOFT_I2C1_GPIO_V12_JZ=y
# CONFIG_HWMON is not set
# CONFIG_MFD_SUPPORT is not set
CONFIG_REGULATOR=y
CONFIG_REGULATOR_FIXED_VOLTAGE=y
CONFIG_FB=y
CONFIG_BACKLIGHT_LCD_SUPPORT=y
CONFIG_LCD_CLASS_DEVICE=y
CONFIG_LCD_FRD20024N=y
CONFIG_SLCDC_CONTINUA=y
CONFIG_BACKLIGHT_CLASS_DEVICE=y
# CONFIG_BACKLIGHT_GENERIC is not set
CONFIG_BACKLIGHT_PWM=y
# CONFIG_JZ_IPU is not set
CONFIG_FB_JZ_V13=y
CONFIG_LCD_V13_SLCD_8BIT=y
CONFIG_LOGO_BMP=y
CONFIG_ONE_FRAME_BUFFERS=y
# CONFIG_JZ_VPU is not set
CONFIG_SOUND=y
CONFIG_SOUND_PRIME=y
CONFIG_SOUND_JZ_I2S_V13=y
CONFIG_JZ_EXTERNAL_CODEC_V13=y
CONFIG_AKM4951_EXTERNAL_CODEC=y
CONFIG_AKM4951_AEC_MODE=y
CONFIG_SOUND_JZ_PCM_V12=y
CONFIG_SOUND_JZ_DMIC_V12=y
CONFIG_JZ_DMIC0=y
CONFIG_JZ_DMIC1=y
CONFIG_SOUND_XBURST_DETECT=y
# CONFIG_HID_SUPPORT is not set
CONFIG_USB=y
CONFIG_USB_SUSPEND=y
# CONFIG_USB_OTG_WHITELIST is not set
CONFIG_USB_DWC2=y
CONFIG_USB_STORAGE=y
CONFIG_USB_GADGET=y
CONFIG_USB_GADGET_DWC2=y
CONFIG_USB_G_ANDROID=y
CONFIG_MMC=y
CONFIG_JZMMC_V12=y
CONFIG_JZMMC_V12_MMC0=y
CONFIG_MMC0_MAX_FREQ=50000000
CONFIG_JZMMC_V12_MMC1=y
CONFIG_SWITCH=y
CONFIG_RTC_CLASS=y
# CONFIG_RTC_INTF_SYSFS is not set
# CONFIG_RTC_INTF_PROC is not set
# CONFIG_RTC_INTF_ALARM is not set
CONFIG_RTC_DRV_JZ=y
CONFIG_DMADEVICES=y
CONFIG_XBURST_DMAC_V13=y
CONFIG_EXT4_FS=y
# CONFIG_DNOTIFY is not set
CONFIG_MSDOS_FS=y
CONFIG_VFAT_FS=y
CONFIG_FAT_DEFAULT_CODEPAGE=936
CONFIG_FAT_DEFAULT_IOCHARSET="utf8"
# CONFIG_PROC_PAGE_MONITOR is not set
CONFIG_TMPFS=y
CONFIG_JFFS2_FS=y
CONFIG_JFFS2_COMPRESSION_OPTIONS=y
# CONFIG_JFFS2_ZLIB is not set
# CONFIG_JFFS2_RTIME is not set
CONFIG_CRAMFS=y
CONFIG_NFS_FS=y
CONFIG_NFS_V3=y
CONFIG_ROOT_NFS=y
CONFIG_NLS_DEFAULT="cp936"
CONFIG_NLS_CODEPAGE_936=y
CONFIG_NLS_ASCII=y
CONFIG_NLS_ISO8859_1=y
CONFIG_NLS_UTF8=y
CONFIG_PRINTK_TIME=y
# CONFIG_ENABLE_WARN_DEPRECATED is not set
# CONFIG_ENABLE_MUST_CHECK is not set
# CONFIG_STACKTRACE is not set
# CONFIG_RCU_CPU_STALL_VERBOSE is not set
# CONFIG_EARLY_PRINTK is not set
