
choice
	prompt "SOC type"
	depends on MACH_XBURST
	default SOC_4780

config SOC_4780
	bool "4780"
	select JZRISC
	select TRACEPOINTS
	select SYS_SUPPORTS_HIGHMEM
	select SMP
	select SYS_SUPPORTS_SMP
	select NR_CPUS_DEFAULT_2
	select GENERIC_CLOCKEVENTS_BROADCAST

endchoice

config JZRISC
	bool
	select ARCH_REQUIRE_GPIOLIB
	select IRQ_CPU
	select DMA_NONCOHERENT
	select SYS_HAS_CPU_MIPS32_R1
	select SYS_SUPPORTS_32BIT_KERNEL
	select SYS_SUPPORTS_LITTLE_ENDIAN

config SOC_VER
	int
	default "80" if SOC_4780

if SOC_4780
source "arch/mips/xburst/soc-4780/Kconfig"
endif
