

choice
	prompt "Board type"
	depends on SOC_X1000
	default PRODUCT_X1000_PHOENIX

config  PRODUCT_X1000_PHOENIX
    bool "product x1000 phoenix"

config  PRODUCT_X1000_CANNA
    bool "product x1000 canna"

config  PRODUCT_X1000_ASLMOM
    bool "product x1000 aslmom"

config  PRODUCT_X1000_YOUTH
    bool "product x1000 youth"
endchoice

if PRODUCT_X1000_PHOENIX
config PRODUCT_NAME
string
default "phoenix"
source "arch/mips/xburst/soc-x1000/chip-x1000/phoenix/Kconfig"
endif

if PRODUCT_X1000_CANNA
config PRODUCT_NAME
string
default "canna"
source "arch/mips/xburst/soc-x1000/chip-x1000/canna/Kconfig"
endif

if PRODUCT_X1000_ASLMOM
config PRODUCT_NAME
string
default "aslmom"
source "arch/mips/xburst/soc-x1000/chip-x1000/aslmom/Kconfig"
endif

if PRODUCT_X1000_YOUTH
config PRODUCT_NAME
string
default "youth"
source "arch/mips/xburst/soc-x1000/chip-x1000/youth/Kconfig"
endif
